$backgroundGray: #F1F1F1;
$plum: #733D47;
$pink: #BD7C87;
$maxWidth: 960px;

#container {
  margin-top: 100px;
}
body {
  max-width: $maxWidth;
  margin: auto;
  padding: 10px;
}
h1 {
  font-size: 36px;
  //line-height: 115%;
  margin: 20px 0 10px;
  font-family: "abril-text", Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
h3 {
  font-family:"franklin-gothic-urw",Verdana,Geneva,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
p {
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}
.chart-subtitle {
  font-family: "abril-text", Georgia, "Times New Roman", Times, serif;
  line-height: 22px;
  font-size: 16px;
  font-style: italic;
}
#intro-section {
  max-width: 830px;
  margin: auto;
}
#options-buttons {
  margin: auto;
  width: 830px;
}
button {
  background-color: $backgroundGray;
  opacity: 0.8;
  border-radius: 2px;
  height: 30px;
  font-family:"franklin-gothic-urw", Verdana, Geneva, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid;
  cursor: pointer;
  margin: 1px;
  margin-left: 10px;
  margin-right: 10px;
}
#button1-providers {
  background-color: $plum;
  color: white;
}
#metrics-chart-wrapper {
  display: flex;
}
#options-metrics {
  max-width: $maxWidth*.25;
}
.item-mainlist {
  font-family:"franklin-gothic-urw",Verdana,Geneva,sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.item-sublist {
  font-family:"franklin-gothic-urw",Verdana,Geneva,sans-serif;
  font-size: 14px;
  font-weight: 500;
}
